@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"].appearance-none {
    -moz-appearance: textfield;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --success: 142 88% 39%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 100% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 223 26% 5%;
    --foreground: 210 40% 98%;

    --card: 240 14% 7%;
    --card-foreground: 210 40% 98%;

    --popover: 240 14% 7%;
    --popover-foreground: 210 40% 98%;

    --primary: 242 100% 78%;
    --primary-foreground: 360 100% 100%;

    --secondary: 223 26% 5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 72%;

    --accent: 242 30% 12%;
    --accent-foreground: 210 40% 98%;

    --success: 142 88% 61%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 2% 20%;
    --input: 217.2 32.6% 12%;
    --ring: 242 100% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .slider {
    @apply [&::-webkit-slider-runnable-track]:rounded-full 
  [&::-webkit-slider-runnable-track]:bg-white
  [&::-webkit-slider-runnable-track]:h-1
  [&::-webkit-slider-runnable-track]:w-full
  [&::-webkit-slider-thumb]:appearance-none 
  [&::-webkit-slider-thumb]:size-3 
  [&::-webkit-slider-thumb]:-translate-y-1/3 
  [&::-webkit-slider-thumb]:rounded-full 
  [&::-webkit-slider-thumb]:bg-slate-50;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--accent));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;

  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary) / 0.8);
}
